*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}
.container{
  margin-top: 10%;
  border: 10px solid red;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.box{

  color: red;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid green;
  padding: 10px 0px;
  cursor: pointer;

}
.currentAndTotleTime{
  font-size: 25px;
}
#progressBar{
  width: 500px;
  height: 5px;
  background-color: aliceblue;
}
#currentProgress{
  width: 0;
  height: 100%;
  background-color: red;
}
.controls{
  font-size: 30px;
  margin: 20px 40px;
  cursor: pointer;
}
.pauseButton{
  display: none;
}
.activenow {
  background-color:#fff ;
}